body{
  margin-top: 90px;
  background-color: #EBF0F3;

}

.menu{
  position: fixed;
  top: 0;
  left: 0;
  width:25%;
  height: 160px;
  background-color: #ea0b2a;
  z-index: 999;
}

.logo{
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 90px;
  background-color: #ea0b2a;


}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #ea0b2a;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  left: 25%;
  height: 90px;
   /* Position the navbar at the top of the page */
  width: 75%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 10px; /* Add a top margin to avoid content overlay */
}

/* agregar gasto 
color: #e66c6c;
border-color: #c00000;*/
.gasto{

  box-sizing: border-box;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  border-radius: 5px;
  width: 100%;
  background-color: #ea0b2a;

}



.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 50%;
}

.tab button:hover {
  background-color: #ea0b2a;
  color: white;
}

.tab button.active {
  background-color: #ea0b2a;
  color: white;
}

.card{
  width: 100%;
  height: auto;
}

/* CARDS */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

.logro {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 20px;
	overflow: hidden;
	width: 100%;
}

.logro h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.logro h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.logro-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.logro-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.logro-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}
